### python has inbuilt function
sorted() - widely used
sum() - another function
user can define function in code called user defined function

'''define fun'''
def func_name(arg1, arg2,...)
return 

call function
func_name(arg1, arg2)

sorted function return sorted list for specified iterable object
sorted(iterable, key, reverse)

-iterable - required argument. This is iterable object to sort
key - optional argument. defauly is none. Key is decide the order
-reverse - optional boolean argument. default false

In [6]:
a=["app", "gaa", "bba", "paa", "caa", "ff" ]

In [7]:
sort_a =sorted(a)
sort_a

['app', 'bba', 'caa', 'ff', 'gaa', 'paa']

In [8]:
city= ['Newyork', 'paris', 'london', 'sydney', 'tokyo']
sorted(city)

['Newyork', 'london', 'paris', 'sydney', 'tokyo']

In [10]:
sorted(city, key=len)

sorted(city, reverse=True)

['tokyo', 'sydney', 'paris', 'london', 'Newyork']

In [12]:
my_list  = [[1,2,3], [4,5,6], [-5, 6,9], [1,1,1]]
sorted(my_list, key=sum)

[[1, 1, 1], [1, 2, 3], [-5, 6, 9], [4, 5, 6]]

user defined function

In [13]:
def add(a,b):
    c=a+b
    return c

In [15]:
add(45,67)

112

In [27]:
my_list1  = [[1,2,6], [4,5,6], [-5, 6,9], [1,-5,6],[0,0,0]]

def return_second_ele(l):
    return l[1]

In [28]:
sorted(my_list1, key=return_second_ele)

[[1, -5, 6], [0, 0, 0], [1, 2, 6], [4, 5, 6], [-5, 6, 9]]

lamda function

anonymous function

In [35]:
f = lambda x: x**2
f
f(4)

16

In [39]:
add_num = lambda x,y: x-y

add_num
add_num(78,89)

-11

In [40]:
my_list1  = [[1,2,6], [4,5,6], [-5, 6,9], [1,-5,6],[0,0,0]]
sorted(my_list1,key=lambda x:x[-1])

[[0, 0, 0], [1, 2, 6], [4, 5, 6], [1, -5, 6], [-5, 6, 9]]

In [43]:
vales = {8}
sorted(vales,key=lambda x: x**2)

[8]

list comprehension

In [46]:
my_list = [3,6,10,11,15]
my_list

[3, 6, 10, 11, 15]

keywords

In [47]:
def func(**kwargs):
    for k,v in kwargs.items():
        print(f"{k}:{v}")

In [54]:
def add_num(*args):
    result=0
    for a in args:
        result += a
    return result

In [55]:
add_num(1,4,6,8)

19

In [56]:
def add_num(x:int| float, y:int|float)->int|float:
    return x+y

In [58]:
add_num(3, 6)

9

error handling 

assert stmt and error

In [59]:
y=23

assert y%3 == 0, "the number divisable by 3"

AssertionError: The number should divisable by 3

SyntaxError: invalid syntax (2307853915.py, line 5)